{% extends 'main/sidebar.html' %}
{% load static %}

{% block content %}
<head>
    <title>Delete Confirmation</title>
</head>
    <div class="content-section">
    	<form method="POST">
    		{% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete the request ? 
            </div>
            
        	<div class="form-group">
         	   <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
          	  <a class="btn btn-outline-info" href="{% url 'request:request-list-current' %}">Cancel</a>
        	</div>
  		</form>
     </div>

{% endblock %}