<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow, point;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {

          center: {lat: 38.036495, lng: -78.507914},
          zoom: 16
        });
        // infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            // infoWindow.setPosition(pos);
            // infoWindow.setContent('Location found.');
            // infoWindow.open(map);
            map.setCenter(pos);

            var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Current Location'
            });

            image = {
              url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/University_of_Virginia_Rotunda_logo.svg/235px-University_of_Virginia_Rotunda_logo.svg.png',
              scaledSize: new google.maps.Size(25, 25),
              // origin: new google.maps.Point(0,0), // origin
              // anchor: new google.maps.Point(0, 0) // anchor
            }
            var ClemMarker = new google.maps.Marker({
              position: {lat: 38.036374, lng: -78.506092},
              icon: image,
              map: map,
            });
            var AldyMarker = new google.maps.Marker({
              position: {lat: 38.036466, lng: -78.505370},
              icon: image,
              map: map,
            });
            var RiceMarker = new google.maps.Marker({
              position: {lat: 38.031729, lng: -78.510914},
              icon: image,
              map: map,
            });
            var ClarkMarker = new google.maps.Marker({
              position: {lat: 38.033159, lng: -78.507850},
              icon: image,
              map: map,
            });
            var ClarkMarker = new google.maps.Marker({
              position: {lat:  38.035212, lng: -78.500458},
              icon: image,
              map: map,
            });
        
          }, function() {
            handleLocationError(true, marker, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, marker, map.getCenter());
        }
      }


      function handleLocationError(browserHasGeolocation, marker, pos) {
        marker.setPosition(pos);
        marker.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        marker.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBock4grM-hbhdq4zI7JKL4E1MQRec3Dcc&callback=initMap">
    </script>
  </body>
</html>