{% extends 'main/sidebar.html' %}
{% load crispy_forms_tags %}
{% block content%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<body>
   	<div class="alert alert-dark" role="alert">
 		 <h5> Create Your First Profile </h5>
	</div>

    <form method="POST" action="{% url 'login:make_profile' %}">
        {% csrf_token %}
        {{ profile_form | crispy }}
        <input type="submit" value="Create Profile">
    </form>
</body>
</html>
{% endblock %}