{% extends 'main/sidebar.html' %}
{% block content%}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}


<!-- The home page contains a log in/sign up button. If the user is not already signed in, clicking on this will display
 a login/signup option. Login is done with Google authentication. Sign up also requires Google authentication, and
 filling out a form of extra information to create and store the user in the database. -->

<html>
    <head>
        <title>Google Registration</title>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/login.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    <div class="container" style="text-align: center;">

    <!--{% if request.user.is_authenticated %}-->
    <!--{% else %}-->
        <br>
        <br>
        <div class ="container" style = "width: 18rem; ">
        <div>
            <p class="card-text-login" style="text-align:center;">Google Login</p>
            <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-lg"><i class="fab fa-google"></i>   Continue</a>
        </div>
        </div>
    <!--{% endif %}-->
    </div>
</html>

{% endblock %}
