{% extends 'main/sidebar.html' %}
{% load crispy_forms_tags %}
{% block content%}

    <form method="GET" action="{% url 'login:display_profile' %}">
        {% csrf_token %}
        <p>Name: {{ user.first_name }}  {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Major: {{ user.profile.major }}</p>
        <p>Year: {{ user.profile.year }}</p>
    </form>

    <button class="btn btn-outline-info" type="submit"><a href="{% url 'account_logout' %}">Logout?</a></button>

{% endblock %}

