{% extends 'main/sidebar.html' %}
{% load static %}
    {% block content%}
    <head>
        <link rel="stylesheet"type = "text/css" href="{% static '/main/rating.css' %}">
    </head>
    <body>
        <div class="row text-center" name="stuff">
            <div class="col-md-6">
                <h3> Tutors</h3>
                <a href="/maps"><button>Click Here</button></a>
            </div>
            <div class="col-md-6">
                <h3> Students</h3>
                <a href="#"><button>Click Here</button></a>  
            </div>   
        		
                            
                                                                    
                        
        </div>
    </body>
    

{% endblock %}