{% extends 'main/sidebar.html' %}

    {% block content%}
    <!-- jumbotron -->
    <div class="jumbotron">
            <h1 class="display-4">Hello, Everyone</h1>
            <p class="lead">
                Thanks for visiting this website!
            </p>
            <hr class="my-4">
            <p>Click here to login</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/login/" role="button">Hard Coded Address for Login</a>
            </p>
        
        
    </div>

    <div class = "container">
        <div class = "row">
            <div class="col-md-4">
                <h3> Tutoring</h3>
                <p> Come here to learn more about Tutoring</p>
            </div>

            <div class="col-md-4">
                <h3> Students </h3>
                <p> Come here to learn more about being a Student</p>
            </div>

            <div class="col-md-4">
              <h3> Maps </h3>   
              <a href="http://127.0.0.1:8000/maps">Maps</a>           
              
          </div>          
            

        </div>
    </div>

  <!--&lt;!&ndash; CDN for JS bootstrap &ndash;&gt;-->
  <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
  <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
  <!--&lt;!&ndash; for local &ndash;&gt;-->
  <!--&lt;!&ndash; <script src="jquery.min.js"></script> &ndash;&gt;-->
  <!--&lt;!&ndash; <script src="bootstrap/js/bootstrap.min.js"></script> &ndash;&gt;-->
  <!---->

   <!-- uncomment the following code when customizing your page    -->
  <script>
  // document ready event is fired when DOM has been loaded
  $(document).ready(function() {
	 // do DOM manipulation, set header's height
     $('.header').height($(window).height()/2.5);
   })
  </script>

{% endblock %}