{% extends 'main/sidebar.html' %}

    {% block content%}
    <!-- jumbotron -->
    <div class="jumbotron">
            <h1 class="display-4">Hello, Everyone</h1>
            <p class="lead">
                Thanks for visiting this website!
            </p>
            <hr class="my-4">
            <p>Click here to login</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/login/" role="button">Hard Coded Address for Login</a>
            </p>
        
        
    </div>

    <div class = "container">
        <div class = "row">
            <div class="col-md-4">
                <h3> Tutoring</h3>
                <p> Come here to learn more about Tutoring</p>
            </div>

            <div class="col-md-4">
                <h3> Students </h3>
                <p> Come here to learn more about being a Student</p>
            </div>

            <div class="col-md-4">
              <h3> Maps </h3>   
              <a href="http://127.0.0.1:8000/maps">Maps</a>           
              
          </div>          
            

        </div>
    </div>

  <script>
  // document ready event is fired when DOM has been loaded
  $(document).ready(function() {
	 // do DOM manipulation, set header's height
     $('.header').height($(window).height()/2.5);
   })
  </script>

{% endblock %}